<% if @user.errors.any? %>
 <p class="error"><%= @user.errors.count %>件のerrorが発生しました</p>
 <% @user.errors.full_messages.each do |message| %>
   <p class="error"><%= message %></p>
  <% end %>
 <% end %>
<div class="col-md-8 offset-md-1">
<h3>User info</h3>
<%= form_with model:@user,local:true do |f| %>
<p><label for="inputName">Name</label></p>
  <%= f.text_field :name, autofocus: true, id:"inputName" %>
  <%= attachment_image_tag @user, :profile_image, size: "60x60"%>
<p><label for="inputImage">Image</label></p>
<%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>

<p>Introduction</p>
 <%= f.text_field :introduction, autofocus: true %>
<p class="submit"><%= f.submit "Update User", class: "btn btn-secondary" %></p>
<% end %>
</div>